<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<!--底栏 -->
<footer class="tm-footer" th:fragment="footer">
    <div class="container-fluid">
        <div class="row">
            <div class="column col-xs-12 col-sm-12 col-md-6 col-lg-5 col-xl-5">
                <p class="tm-copyright-text tm-margin-t-small">©2016 NapsterLong. All rights reserved.</p>
                <p class="tm-copyright-text">京ICP备17004900号-1</p>
            </div>
            <div class="column col-xs-12 col-sm-12 col-md-6 col-lg-7 col-xl-7">
                <div class="tm-margin-t-small">
                    <a href="https://github.com/NapsterLong" target="_Blank"><img class="socialIcon"
                                                                                  src="/img/social/github.png"/></a>
                    <a href="https://www.facebook.com/long.napster" target="_Blank"><img class="socialIcon"
                                                                                         src="/img/social/facebook.png"/></a>
                    <a href="http://weibo.com/u/2568070851?topnav=1&;wvr=6&;topsug=1&;is_hot=1" target="_Blank"><img
                            class="socialIcon" src="/img/social/weibo.png"/></a>
                </div>
            </div>
        </div>
    </div>
</footer>
</html>