<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<!--头部导航栏 -->
<div class="tm-header" th:fragment="header">
    <div class="container-fluid">
        <div class="tm-header-inner">
            <a href="/" class="navbar-brand tm-site-name">NapsterLong</a>
            <!-- navbar -->
            <nav class="navbar tm-main-nav">
                <!-- 菜单按钮，用于移动端适配-->
                <button class="navbar-toggler hidden-md-up" type="button" data-toggle="collapse"
                        data-target="#tmNavbar">
                    &#9776;
                </button>
                <!-- 导航栏-->
                <div class="collapse navbar-toggleable-sm" id="tmNavbar">
                    <ul class="nav navbar-nav">
                        <li class="nav-item active">
                            <a href="/" class="nav-link">主页</a>
                        </li>
                        <li class="nav-item">
                            <a href="/navbar/it" class="nav-link">技术</a>
                        </li>
                        <li class="nav-item">
                            <a href="/navbar/life" class="nav-link">随笔</a>
                        </li>
                        <li class="nav-item">
                            <a href="/navbar/about" class="nav-link">关于</a>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
    </div>
</div>

<!-- 管理后台头部栏-->
<div id="head" class="tm-header" th:fragment="adminHeader">
    <div class="container-fluid">
        <div class="tm-header-inner">
            <a href="#" class="navbar-brand tm-site-name">NapsterLong</a>
            <div style="float: right">Welcome
                <a th:href="@{/admin/logout}" class="tm-gold-text">{{userName}}</a>
            </div>
        </div>
    </div>
    <hr class="tm-margin-t-small"/>
</div>
</html>