<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:v-bind="http://www.w3.org/1999/xhtml"
      xmlns:v-on="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>NapsterLong</title>

    <!-- load stylesheets -->
    <link rel="stylesheet" href="/css/font.css"/>
    <link rel="stylesheet" href="/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/css/templatemo-style.css"/>
    <link rel="stylesheet" href="/css/my.css"/>
    <link rel="stylesheet" href="/css/sidebar.css"/>
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"/>
    <!-- load JS files -->
    <script src="/js/jquery-1.11.3.min.js"></script>
    <script src="/js/tether.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/html5shiv.min.js"></script>
    <script src="/js/respond.min.js"></script>
    <script src="/js/sidebar.js"></script>
    <script type="text/javascript" charset="utf-8" src="/plugin/ueditor/ueditor.config.js"></script>
    <script type="text/javascript" charset="utf-8" src="/plugin/ueditor/ueditor.all.js"></script>
    <script type="text/javascript" charset="utf-8" src="/plugin/ueditor/lang/zh-cn/zh-cn.js"></script>
    <script src="/js/vue.js"></script>
    <script src="/js/vue-router.js"></script>
    <script src="/js/vue-resource.min.js"></script>
</head>
<body>
<!-- 头部-->
<div th:substituteby="/common/header::adminHeader"></div>
<!--正文 -->
<section id="main" class="my-section">
    <div class="container-fluid">
        <div class="row tm-2-rows-sm-swap">
            <!--左侧导航栏 -->
            <div th:substituteby="/common/sidebar::sidebar"></div>
            <!--右侧正文 -->
            <div class="col-xs-12 col-sm-12 col-md-8 col-lg-9 col-xl-9 tm-2-rows-sm-down-1">
                <form action="#" method="post" class="tm-contact-form">
                    <div class="form-group">
                        <label for="title">文章标题</label>
                        <span class="my-message-error">{{message_title}}</span>
                        <input type="text" id="title" name="title" class="form-control"
                               placeholder="Title" required="required" maxlength="64" v-model="title"/>
                    </div>
                    <div class="form-group">
                        <label for="itOrLife">文章性质</label>
                        <select id="itOrLife" name="itOrLife" class="form-control" required="required"
                                v-model="itOrLife">
                            <option value="01">技术</option>
                            <option value="02">随笔</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="category">文章类别</label>
                        <select id="category" name="category" class="form-control" required="required"
                                v-model="category">
                            <option v-for="temp in categories" v-bind:value="temp.categoryName">
                                {{ temp.categoryName }}
                            </option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="tags">文章标签</label>
                        <input type="text" id="tags" name="tags" class="form-control"
                               placeholder="Tags(Press Enter to Add Tag)" v-on:keyup.enter="addTag()"
                               v-model="tempTag"/>
                        <button type="button" v-for="tag in tags" class="my-tag" v-on:click="deleteTag(tag)">{{tag}}
                        </button>
                    </div>
                    <div class="form-group">
                        <label for="summary">文章摘要</label>
                        <span class="my-message-error">{{message_summary}}</span>
                        <textarea id="summary" name="summary" class="form-control" rows="6"
                                  placeholder="Summary" required="required" maxlength="256"
                                  v-model="summary"></textarea>
                    </div>
                    <div class="form-group">
                        <label for="content">文章正文</label>
                        <script type="text/plain" id="content" style="width:100%"></script>
                    </div>
                    <div class="form-group">
                        <label for="title">文章封面</label>
                        <span class="my-message-error">{{message_coverFile}}</span>
                        <input type="text" id="coverFile" name="coverFile" class="form-control"
                               placeholder="CoverFile" required="required" maxlength="64" v-model="coverFile"/>
                    </div>
                </form>
                <button class="tm-btn" v-on:click="addArticle()">发布</button>
                <span class="my-message-error">{{message}}</span>
            </div>
        </div>
    </div>
</section>
<!-- 底栏 -->
<div th:substituteby="/common/footer::footer"></div>
<!--my js -->
<script th:inline="javascript">

    var editor = UE.getEditor('content');
    var app = new Vue({
        el: '#head',
        data: {
            userName: ""
        },
        created: function () {
            this.userName = [[${userName}]];
        },
        method: {}
    });

    var appMain = new Vue({
        el: '#main',
        data: {
            title: "",
            itOrLife: "",
            category: "",
            categories: [],
            tempTag: "",
            tags: [],
            author: app.userName,
            summary: "",
            content: "",
            coverFile: "",
            message_title: "",
            message_summary: "",
            message_coverFile: "",
            message: ""
        },
        created: function () {
            this.itOrLife = "01";
            this.categories = [[${categories}]];
            if (this.categories == null || this.categories == [] || this.categories.length == 0) {
            } else {
                this.category = this.categories[0].categoryName;
            }
        },
        watch: {
            itOrLife: function () {
                this.$http.post("/admin/category/listCategoriesByIL", {"itOrLife": this.itOrLife})
                    .then(function (response) {
                        var result = response.data;
                        var code = result.code;
                        if (code == "SUCCESS") {
                            this.categories = result.data;
                            if (this.categories == null || this.categories == [] || this.categories.length == 0) {
                            } else {
                                this.category = this.categories[0].categoryName;
                            }
                        } else {
                            alert(result.message);
                        }
                    }, function (response) {
                        var result = response.data;
                        alert(result.message ? result.message : "系统错误");
                    });
            },
            title: function () {
                if (this.title.length >= 64) {
                    this.message_title = "标题长度不可大于64";
                } else {
                    this.message_title = "";
                }
            },
            summary: function () {
                if (this.summary.length >= 256) {
                    this.message_summary = "摘要长度不可大于256";
                } else {
                    this.message_summary = "";
                }
            },
            coverFile: function () {
                if (this.coverFile.length >= 64) {
                    this.message_coverFile = "文章封面文件名不可大于64";
                } else {
                    this.message_coverFile = "";
                }
            }

        },
        methods: {
            addTag: function () {
                this.tempTag = this.tempTag.replace(/\s+/g, "");
                if (this.tempTag == null || this.tempTag == undefined || this.tempTag.length == 0) {
                    return;
                }
                this.tags.push(this.tempTag);
                this.tempTag = "";
            },
            deleteTag: function (tag) {
                this.tags.splice(this.tags.indexOf(tag), 1);
            },
            addArticle: function () {
                this.content = editor.getContent();
                if (this.title == null || this.title == "") {
                    this.message = "文章标题不可为空";
                    return false;
                }
                if (this.tags == null || this.tags == "") {
                    this.message = "文章标签不可为空";
                    return false;
                }
                if (this.category == null || this.category == "") {
                    this.message = "文章类别不可为空";
                    return false;
                }
                if (this.summary == null || this.summary == "") {
                    this.message = "文章摘要不可为空";
                    return false;
                }
                if (this.content == null || this.content == "") {
                    this.message = "文章内容不可为空";
                    return false;
                }
                if (this.coverFile == null || this.coverFile == "") {
                    this.message = "文章摘要封面不可为空";
                    return false;
                }
                this.$http.post("/admin/article/add", {
                    "title": this.title,
                    "itOrLife": this.itOrLife,
                    "category": this.category,
                    "tags": this.tags,
                    "summary": this.summary,
                    "author": this.author,
                    "content": this.content,
                    "coverFile": this.coverFile
                }).then(function (response) {
                    var result = response.data;
                    var code = result.code;
                    if (code == "SUCCESS") {
                        this.message = "发布成功";
                        this.clearData();
                    } else {
                        this.message = result.message;
                    }
                }, function (response) {
                    var result = response.data;
                    this.message = result.message ? result.message : "系统错误";
                });
            },
            clearData: function () {
                this.title = "";
                this.tempTag = "";
                this.tags = [];
                this.summary = "";
                this.content = "";
                this.message_title = "";
                this.message_summary = "";
                this.coverFile = "";
                editor.execCommand('cleardoc');
            }
        }

    });
</script>

</body>
</html>