.my-text-link {
    color: #006699;
    line-height: 2.8;
}

.my-text-link-height-middle {
    color: #006699;
    line-height: 1.0;
}

.my-text-link-middle {
    color: #006699;
    line-height: 2.8;
    text-decoration: underline;
    font-size: 14px;
}

.my-text-link:link,
.my-text-link-height-middle:link {
    color: #006699;
}

.my-text-link:visited,
.my-text-link-height-middle:visited {
    color: #cc9900;
}

.my-text-link:hover,
.my-text-link-height-middle:hover {
    color: #cc9900;
}

.my-text-link:active,
.my-text-link-height-middle :active {
    color: #cc9900;
}

.small-font-half {
    font-size: 0.8rem;
}

.label {
    color: #8c8c8c;
}

.my-float-right {
    float: right;
    padding-right: 30px;
}

/**/
.socialIcon {
    width: 24px;
    height: 24px;
    margin-right: 10px;
}

.tm-site-name:link {
    color: #cc9900;
}

.tm-site-name:visited {
    color: #cc9900;
}

.tm-site-name:hover {
    color: #cc9900;
}

.tm-site-name:active {
    color: #cc9900;
}

.tm-margin-t-15 {
    margin-top: 15px;
}

.my-section {
    padding-top: 30px;
    padding-bottom: 30px;
}

.my-message-error {
    padding-left: 15px;
    color: #FF0000;
    font-size: 1rem;
}

.my-margin-5 {
    margin: 5px;
}

.my-margin-l-10 {
    margin-left: 10px;
}

.my-img {
    width: 300px;
    height: 200px;
}

.my-tag {
    display: inline-block;
    position: relative;
    margin: 5px;
    padding: 0 10px;
    text-align: center;
    text-decoration: none;
    font: bold 6px Arial, sans-serif;
    text-shadow: 1px 1px 1px rgba(255, 255, 255, .22);
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px;
    -webkit-box-shadow: 1px 1px 1px rgba(0, 0, 0, .29), inset 1px 1px 1px rgba(255, 255, 255, .44);
    -moz-box-shadow: 1px 1px 1px rgba(0, 0, 0, .29), inset 1px 1px 1px rgba(255, 255, 255, .44);
    box-shadow: 1px 1px 1px rgba(0, 0, 0, .29), inset 1px 1px 1px rgba(255, 255, 255, .44);
    -webkit-transition: all 0.15s ease;
    -moz-transition: all 0.15s ease;
    -o-transition: all 0.15s ease;
    -ms-transition: all 0.15s ease;
    transition: all 0.15s ease;
    color: #515151;
    background: #d3d3d3; /* Old browsers */
    background: -moz-linear-gradient(top, #d3d3d3 0%, #8a8a8a 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #d3d3d3), color-stop(100%, #8a8a8a)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #d3d3d3 0%, #8a8a8a 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #d3d3d3 0%, #8a8a8a 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #d3d3d3 0%, #8a8a8a 100%); /* IE10+ */
    background: linear-gradient(top, #d3d3d3 0%, #8a8a8a 100%); /* W3C */
}


@media (max-width: 1199px) {
    .my-text-link {
        line-height: 2.2;
    }
}

@media (max-width: 991px) {
    .my-text-link {
        line-height: 2.4;
    }

    .my-section {
        padding-top: 20px;
        padding-bottom: 20px;
    }
}

@media (max-width: 897px) {

}

@media (max-width: 767px) {

}

@media (max-width: 543px) {
    .my-float-right {
    }
}

@media (max-width: 510px) {
    .my-float-right {
    }

    .my-section {
        padding-top: 10%;
        padding-bottom: 10%;
    }
}